*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-color: linear-gradient(
    to right top,
    #b6a39e,
    #ad9d99,
    #a59794,
    #9c918e,
    #948b89
  );
  --cash-register-color: rgb(132, 136, 139);
  --center-cash-register-color: #9590a8;
  --border-color: ;
  --text-color: ;
  --text-screen-color: #2d2e2e;
  --secundary-bg-color: ;
  --bg-screen-color: rgb(207, 221, 233);
}

body {
  max-width: 100dvw;
  height: 100dvh;

  text-align: center;
  font-size: 62.5%;
  font-family: monospace;

  background-image: var(--primary-bg-color);
}
.main {
  width: 100%;
  height: 100%;

  padding: 0 1rem;

  display: grid;
  place-content: center;
  grid-template-columns: minmax(300px, 1fr);
  gap: 1rem;
}
.green {
  color: rgb(80, 219, 80);
}
.red {
  color: rgb(255, 63, 63);
}
.gray {
  color: rgb(167, 167, 167);
}
h1 {
  font-size: calc(1.5rem + 1vw);
}
input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: calc(0.8rem + 0.1dvw);
  font-family: monospace;
  padding: 0.5rem;
  background-color: var(--bg-screen-color);
  color: var(--text-screen-color);
  border: none;
  border-radius: 6px;
}

.btn {
  font-size: calc(0.8rem + 0.1dvw);
  font-family: monospace;
  font-weight: bold;
  background-color: #dde0bd;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 7px 0px 0px #a1a38b;
}
.btn:hover {
  box-shadow: 0px 5px 0px 0px #a1a38b;
  transform: translateY(1px);
  background-color: #dde0bd;
}
.btn:active {
  box-shadow: 0px 0px 0px 0px #a1a38b;
  transform: translateY(5px);
}
.subtitle {
  color: var(--text-color);

  font-size: calc(1rem + 0.1dvw);

  text-transform: uppercase;
}
p {
  font-size: 0.8rem;
}
.box-cash_register {
  max-width: 480px;

  margin: auto;
}
.box-superior-screen {
  margin-left: 1.6rem;
  width: 40%;
  max-width: 180px;
}
.superior-screen {
  text-align: center;
  padding: 0.3rem;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 6px #313c48;
  border: 6px solid var(--cash-register-color);
  color: #d3cdcd;
  background-color: #1f1f1f;

  font-size: calc(0.9rem + 0.1dvw);

  .subtitle {
    font-weight: 600;
    font-size: calc(0.9rem + 0.1dvw);
  }

  #price {
    font-size: calc(0.9rem + 0.1dvw);
    color: rgb(80, 219, 80);
  }
}

.conector-superior_base {
  width: 25%;
  height: 20px;
  margin: auto;
  box-shadow: 0px 6px 0px 6px #313c48;
  background-color: var(--cash-register-color);
}

.base-cash_register {
  border-radius: 10px;
  padding-bottom: 1.2rem;
  border: 5px solid #313c48;
  background-color: #313c48;
  margin-bottom: 2rem;
}
.center-screen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 2rem;
  gap: 0.5rem 2rem;
  background-color: var(--center-cash-register-color);
  border-radius: 10px;
  border-bottom: 8px solid #313c48;
  padding: 1.5rem;
}
.center-screen .subtitle {
  align-self: center;
}
.screens-cash_register {
  padding: 1rem 0.5rem;
  display: grid;
  gap: 0.5rem 0;
  grid-template-columns: repeat(2, 1fr);

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--cash-register-color);
  margin: auto;

  .drawer:first-of-type {
    border-left: none;
    border-radius: 4px 0px 0px 4px;
  }

  .drawer {
    padding: 0.6rem;

    border-left: 10px solid rgb(219, 219, 219);
    border-radius: 0px 4px 4px 0px;

    background: #1f1f1f;
    color: #ddd9d9;

    font-size: calc(0.8rem + 0.1dvw);

    text-align: left;

    .label-drawer {
      text-transform: lowercase;

      .drawer-value {
        color: rgb(80, 219, 80);

        font-size: calc(0.9rem + 0.1dvw);
      }
    }
  }

  .btn {
    padding: 0.5rem;
    max-width: 100px;

    background-color: #e62619;

    box-shadow: 0px 8px 0px 0px #aa180d;

    .icon {
      color: #f7f7f7;
      font-size: calc(1rem + 0.1dvw);
    }
  }
  .btn:hover {
    box-shadow: 0px 6px 0px 0px #aa180d;
    transform: translateY(1px);
    background-color: #e62619;
  }
  .btn:active {
    box-shadow: 0px 0px 0px 0px #aa180d;
    transform: translateY(5px);
  }
}
#change-due,
#cid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
